@font-face {
  font-family: 'deveo-icons';
  src: url('./fonts/deveo-icons.eot');
  src: url('./fonts/deveo-icons.eot?#iefix') format('eot'),
    url('./fonts/deveo-icons.woff') format('woff'),
    url('./fonts/deveo-icons.ttf') format('truetype'),
    url('./fonts/deveo-icons.svg#deveo-icons') format('svg');
}

.deveo-icons {
  display: inline-block;
  color: inherit;
  font-family: deveo-icons;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.deveo-icons-small  { font-size: 11px; }
.deveo-icons-medium { font-size: 16px; }
.deveo-icons-large  { font-size: 20px; }
.deveo-icons-xlarge { font-size: 22px; }

.deveo-icons.black  { color: #000000; }
.deveo-icons.blue   { color: #3589c4; }
.deveo-icons.blue2  { color: #87bbd6; }
.deveo-icons.dark   { color: #5d5f68; }
.deveo-icons.darker { color: #142630; }
.deveo-icons.green  { color: #22d792; }
.deveo-icons.green2 { color: #8ec2b0; }
.deveo-icons.grey   { color: #8394a0; }
.deveo-icons.grey2  { color: #9094a3; }
.deveo-icons.purple { color: #ad91cb; }
.deveo-icons.red    { color: #d87f6f; }
.deveo-icons.red2   { color: #da9d9d; }
.deveo-icons.white  { color: #ffffff; }

.deveo-icons-accept-circle-alt:before { content: '\EA01' }
.deveo-icons-accept-circle:before { content: '\EA02' }
.deveo-icons-accept:before { content: '\EA03' }
.deveo-icons-activity:before { content: '\EA04' }
.deveo-icons-add-circle:before { content: '\EA05' }
.deveo-icons-add:before { content: '\EA06' }
.deveo-icons-api:before { content: '\EA07' }
.deveo-icons-app:before { content: '\EA08' }
.deveo-icons-around:before { content: '\EA09' }
.deveo-icons-arrow-back:before { content: '\EA0A' }
.deveo-icons-arrow-down:before { content: '\EA0B' }
.deveo-icons-arrow-left:before { content: '\EA0C' }
.deveo-icons-arrow-right:before { content: '\EA0D' }
.deveo-icons-arrow-up:before { content: '\EA0E' }
.deveo-icons-attachment:before { content: '\EA0F' }
.deveo-icons-attention:before { content: '\EA10' }
.deveo-icons-bell-outline:before { content: '\EA11' }
.deveo-icons-bell:before { content: '\EA12' }
.deveo-icons-bot:before { content: '\EA13' }
.deveo-icons-box-package-alt:before { content: '\EA14' }
.deveo-icons-box-package-outline:before { content: '\EA15' }
.deveo-icons-box-package:before { content: '\EA16' }
.deveo-icons-branch:before { content: '\EA17' }
.deveo-icons-build-alt:before { content: '\EA18' }
.deveo-icons-build-fail-alt:before { content: '\EA19' }
.deveo-icons-build-fail:before { content: '\EA1A' }
.deveo-icons-build-success-alt:before { content: '\EA1B' }
.deveo-icons-build-success:before { content: '\EA1C' }
.deveo-icons-build:before { content: '\EA1D' }
.deveo-icons-calendar:before { content: '\EA1E' }
.deveo-icons-cancel:before { content: '\EA1F' }
.deveo-icons-check:before { content: '\EA20' }
.deveo-icons-circle-notification:before { content: '\EA21' }
.deveo-icons-circle-outline:before { content: '\EA22' }
.deveo-icons-circle:before { content: '\EA23' }
.deveo-icons-clipboard:before { content: '\EA24' }
.deveo-icons-clone-code:before { content: '\EA25' }
.deveo-icons-cloud-outline:before { content: '\EA26' }
.deveo-icons-cloud:before { content: '\EA27' }
.deveo-icons-code-review:before { content: '\EA28' }
.deveo-icons-code:before { content: '\EA29' }
.deveo-icons-collapse:before { content: '\EA2A' }
.deveo-icons-comment-outline:before { content: '\EA2B' }
.deveo-icons-comment:before { content: '\EA2C' }
.deveo-icons-comments-alt:before { content: '\EA2D' }
.deveo-icons-company:before { content: '\EA2E' }
.deveo-icons-compare:before { content: '\EA2F' }
.deveo-icons-contacts-outline:before { content: '\EA30' }
.deveo-icons-contacts:before { content: '\EA31' }
.deveo-icons-dashboard-outline:before { content: '\EA32' }
.deveo-icons-dashboard:before { content: '\EA33' }
.deveo-icons-deveo:before { content: '\EA34' }
.deveo-icons-directory-link-outline:before { content: '\EA35' }
.deveo-icons-directory-link2-outline:before { content: '\EA36' }
.deveo-icons-directory-new-outline:before { content: '\EA37' }
.deveo-icons-directory-outline:before { content: '\EA38' }
.deveo-icons-directory:before { content: '\EA39' }
.deveo-icons-document-archive:before { content: '\EA3A' }
.deveo-icons-document-landscape-unknown:before { content: '\EA3B' }
.deveo-icons-document-landscape:before { content: '\EA3C' }
.deveo-icons-document-new:before { content: '\EA3D' }
.deveo-icons-document-template:before { content: '\EA3E' }
.deveo-icons-document-text-new:before { content: '\EA3F' }
.deveo-icons-document-text:before { content: '\EA40' }
.deveo-icons-document:before { content: '\EA41' }
.deveo-icons-dots-alt:before { content: '\EA42' }
.deveo-icons-dots:before { content: '\EA43' }
.deveo-icons-edit-alt:before { content: '\EA44' }
.deveo-icons-edit-outline:before { content: '\EA45' }
.deveo-icons-edit:before { content: '\EA46' }
.deveo-icons-editor:before { content: '\EA47' }
.deveo-icons-eficode:before { content: '\EA48' }
.deveo-icons-evt_add_app:before { content: '\EA49' }
.deveo-icons-evt_add_attachment:before { content: '\EA4A' }
.deveo-icons-evt_add_bot:before { content: '\EA4B' }
.deveo-icons-evt_add_branch:before { content: '\EA4C' }
.deveo-icons-evt_add_code-review:before { content: '\EA4D' }
.deveo-icons-evt_add_group-outline:before { content: '\EA4E' }
.deveo-icons-evt_add_group:before { content: '\EA4F' }
.deveo-icons-evt_add_issues:before { content: '\EA50' }
.deveo-icons-evt_add_page:before { content: '\EA51' }
.deveo-icons-evt_add_project:before { content: '\EA52' }
.deveo-icons-evt_add_pull:before { content: '\EA53' }
.deveo-icons-evt_add_push:before { content: '\EA54' }
.deveo-icons-evt_add_repository:before { content: '\EA55' }
.deveo-icons-evt_add_tag-alt:before { content: '\EA56' }
.deveo-icons-evt_add_tag:before { content: '\EA57' }
.deveo-icons-evt_add_user-collab:before { content: '\EA58' }
.deveo-icons-evt_add_user-outline:before { content: '\EA59' }
.deveo-icons-evt_add_user:before { content: '\EA5A' }
.deveo-icons-evt_remove_app:before { content: '\EA5B' }
.deveo-icons-evt_remove_attachment:before { content: '\EA5C' }
.deveo-icons-evt_remove_bot:before { content: '\EA5D' }
.deveo-icons-evt_remove_branch:before { content: '\EA5E' }
.deveo-icons-evt_remove_code-review:before { content: '\EA5F' }
.deveo-icons-evt_remove_feed:before { content: '\EA60' }
.deveo-icons-evt_remove_group-outline:before { content: '\EA61' }
.deveo-icons-evt_remove_group:before { content: '\EA62' }
.deveo-icons-evt_remove_issues:before { content: '\EA63' }
.deveo-icons-evt_remove_page:before { content: '\EA64' }
.deveo-icons-evt_remove_project:before { content: '\EA65' }
.deveo-icons-evt_remove_pull:before { content: '\EA66' }
.deveo-icons-evt_remove_push:before { content: '\EA67' }
.deveo-icons-evt_remove_repository:before { content: '\EA68' }
.deveo-icons-evt_remove_tag-alt:before { content: '\EA69' }
.deveo-icons-evt_remove_tag:before { content: '\EA6A' }
.deveo-icons-evt_remove_user-collab:before { content: '\EA6B' }
.deveo-icons-evt_remove_user-outline:before { content: '\EA6C' }
.deveo-icons-evt_remove_user:before { content: '\EA6D' }
.deveo-icons-evt_update_edit_code-review:before { content: '\EA6E' }
.deveo-icons-evt_update_edit_issues:before { content: '\EA6F' }
.deveo-icons-evt_update_issues:before { content: '\EA70' }
.deveo-icons-evt_update_text_issues:before { content: '\EA71' }
.deveo-icons-evt_user_settings:before { content: '\EA72' }
.deveo-icons-expand:before { content: '\EA73' }
.deveo-icons-feed:before { content: '\EA74' }
.deveo-icons-fullscreen:before { content: '\EA75' }
.deveo-icons-git:before { content: '\EA76' }
.deveo-icons-globe:before { content: '\EA77' }
.deveo-icons-group-alt-outline:before { content: '\EA78' }
.deveo-icons-group-alt:before { content: '\EA79' }
.deveo-icons-group-outline:before { content: '\EA7A' }
.deveo-icons-group:before { content: '\EA7B' }
.deveo-icons-handshake-outline:before { content: '\EA7C' }
.deveo-icons-heart-outline:before { content: '\EA7D' }
.deveo-icons-help-alt:before { content: '\EA7E' }
.deveo-icons-help:before { content: '\EA7F' }
.deveo-icons-history:before { content: '\EA80' }
.deveo-icons-hook:before { content: '\EA81' }
.deveo-icons-image-new:before { content: '\EA82' }
.deveo-icons-image:before { content: '\EA83' }
.deveo-icons-info-alt:before { content: '\EA84' }
.deveo-icons-info-circle:before { content: '\EA85' }
.deveo-icons-info:before { content: '\EA86' }
.deveo-icons-interaction-double-down:before { content: '\EA87' }
.deveo-icons-interaction-double-left:before { content: '\EA88' }
.deveo-icons-interaction-double-right:before { content: '\EA89' }
.deveo-icons-interaction-double-up:before { content: '\EA8A' }
.deveo-icons-interaction-down-circle:before { content: '\EA8B' }
.deveo-icons-interaction-down:before { content: '\EA8C' }
.deveo-icons-interaction-left-circle:before { content: '\EA8D' }
.deveo-icons-interaction-left:before { content: '\EA8E' }
.deveo-icons-interaction-right-circle:before { content: '\EA8F' }
.deveo-icons-interaction-right:before { content: '\EA90' }
.deveo-icons-interaction-up-circle:before { content: '\EA91' }
.deveo-icons-interaction-up:before { content: '\EA92' }
.deveo-icons-iphone:before { content: '\EA93' }
.deveo-icons-issues:before { content: '\EA94' }
.deveo-icons-key:before { content: '\EA95' }
.deveo-icons-keyboard:before { content: '\EA96' }
.deveo-icons-list-view:before { content: '\EA97' }
.deveo-icons-lock-closed:before { content: '\EA98' }
.deveo-icons-lock-open:before { content: '\EA99' }
.deveo-icons-menu:before { content: '\EA9A' }
.deveo-icons-mercurial:before { content: '\EA9B' }
.deveo-icons-message-outline:before { content: '\EA9C' }
.deveo-icons-message:before { content: '\EA9D' }
.deveo-icons-milestone:before { content: '\EA9E' }
.deveo-icons-music:before { content: '\EA9F' }
.deveo-icons-overview:before { content: '\EAA0' }
.deveo-icons-page-text:before { content: '\EAA1' }
.deveo-icons-page:before { content: '\EAA2' }
.deveo-icons-pirate:before { content: '\EAA3' }
.deveo-icons-preview-alt:before { content: '\EAA4' }
.deveo-icons-preview:before { content: '\EAA5' }
.deveo-icons-project-outline:before { content: '\EAA6' }
.deveo-icons-project:before { content: '\EAA7' }
.deveo-icons-pull:before { content: '\EAA8' }
.deveo-icons-push:before { content: '\EAA9' }
.deveo-icons-puzzle-outline:before { content: '\EAAA' }
.deveo-icons-puzzle:before { content: '\EAAB' }
.deveo-icons-quit:before { content: '\EAAC' }
.deveo-icons-refresh-alt:before { content: '\EAAD' }
.deveo-icons-refresh:before { content: '\EAAE' }
.deveo-icons-remove-circle:before { content: '\EAAF' }
.deveo-icons-remove-thin:before { content: '\EAB0' }
.deveo-icons-remove:before { content: '\EAB1' }
.deveo-icons-reply:before { content: '\EAB2' }
.deveo-icons-repository-deveo-outline:before { content: '\EAB3' }
.deveo-icons-repository-deveo:before { content: '\EAB4' }
.deveo-icons-repository-outline:before { content: '\EAB5' }
.deveo-icons-repository:before { content: '\EAB6' }
.deveo-icons-rocket-outline:before { content: '\EAB7' }
.deveo-icons-rocket:before { content: '\EAB8' }
.deveo-icons-save:before { content: '\EAB9' }
.deveo-icons-search:before { content: '\EABA' }
.deveo-icons-settings-alt:before { content: '\EABB' }
.deveo-icons-settings-outline-alt:before { content: '\EABC' }
.deveo-icons-settings:before { content: '\EABD' }
.deveo-icons-snapshot:before { content: '\EABE' }
.deveo-icons-social-circle-dribbble:before { content: '\EABF' }
.deveo-icons-social-circle-facebook:before { content: '\EAC0' }
.deveo-icons-social-circle-google-plus:before { content: '\EAC1' }
.deveo-icons-social-circle-linkedin:before { content: '\EAC2' }
.deveo-icons-social-circle-rss:before { content: '\EAC3' }
.deveo-icons-social-circle-twitter-alt:before { content: '\EAC4' }
.deveo-icons-social-circle-twitter:before { content: '\EAC5' }
.deveo-icons-social-dribbble:before { content: '\EAC6' }
.deveo-icons-social-facebook:before { content: '\EAC7' }
.deveo-icons-social-google-plus:before { content: '\EAC8' }
.deveo-icons-social-linkedin:before { content: '\EAC9' }
.deveo-icons-social-rss:before { content: '\EACA' }
.deveo-icons-social-twitter-alt:before { content: '\EACB' }
.deveo-icons-social-twitter:before { content: '\EACC' }
.deveo-icons-spinner-alt:before { content: '\EACD' }
.deveo-icons-spinner:before { content: '\EACE' }
.deveo-icons-star-outline:before { content: '\EACF' }
.deveo-icons-star:before { content: '\EAD0' }
.deveo-icons-storage-rack-big:before { content: '\EAD1' }
.deveo-icons-storage-rack:before { content: '\EAD2' }
.deveo-icons-storage:before { content: '\EAD3' }
.deveo-icons-story:before { content: '\EAD4' }
.deveo-icons-subtract:before { content: '\EAD5' }
.deveo-icons-subversion:before { content: '\EAD6' }
.deveo-icons-tag-alt:before { content: '\EAD7' }
.deveo-icons-tag:before { content: '\EAD8' }
.deveo-icons-task:before { content: '\EAD9' }
.deveo-icons-text:before { content: '\EADA' }
.deveo-icons-thumb-view:before { content: '\EADB' }
.deveo-icons-thumbup-outline:before { content: '\EADC' }
.deveo-icons-thumbup:before { content: '\EADD' }
.deveo-icons-timer-check:before { content: '\EADE' }
.deveo-icons-tip-outline:before { content: '\EADF' }
.deveo-icons-tip:before { content: '\EAE0' }
.deveo-icons-trash-outline:before { content: '\EAE1' }
.deveo-icons-trash:before { content: '\EAE2' }
.deveo-icons-twitter:before { content: '\EAE3' }
.deveo-icons-update-alt:before { content: '\EAE4' }
.deveo-icons-update:before { content: '\EAE5' }
.deveo-icons-upload:before { content: '\EAE6' }
.deveo-icons-user-collab-outline:before { content: '\EAE7' }
.deveo-icons-user-collab:before { content: '\EAE8' }
.deveo-icons-user-dashed:before { content: '\EAE9' }
.deveo-icons-user-edit:before { content: '\EAEA' }
.deveo-icons-user-outline:before { content: '\EAEB' }
.deveo-icons-user-profile:before { content: '\EAEC' }
.deveo-icons-user:before { content: '\EAED' }
.deveo-icons-video:before { content: '\EAEE' }
.deveo-icons-watch-double:before { content: '\EAEF' }
.deveo-icons-watch:before { content: '\EAF0' }
.deveo-icons-webdav-alt:before { content: '\EAF1' }
.deveo-icons-webdav-alt2:before { content: '\EAF2' }
.deveo-icons-webdav:before { content: '\EAF3' }
.deveo-icons-wiki-edit:before { content: '\EAF4' }
.deveo-icons-wiki:before { content: '\EAF5' }
